<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Capítulo ACM PUC</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/grupos.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">
    {% if page.custom_css %}{% for stylesheet in page.custom_css %}
    <link href="{{ stylesheet }}" rel="stylesheet" media="screen" type="text/css">{% endfor %}{% endif %}
    <meta name="viewport" content="width=device-width">
</head>
